name: Debian Build

inputs:
  target:
    description: 'aarch64 or amd64'
    required: true
  compiler:
    description: 'gcc or clang'
    required: true
  name:
    description: 'what to name this workflow'
    required: true
  pretty-name:
    description: 'The pretty name to use in the artifact'
    required: true
  cpm-cache-version:
    description: "CPM cache version (e.g. v7)"
    type: string
    required: true
  devel:
    description: 'development build'
    type: string
    required: true

runs:
  using: composite
  steps:
    - name: Install sccache
      uses: Eden-CI/sccache-action@v0.0.1
      with:
        disable_annotations: true

    - name: Setup
      uses: ./.github/workflows/setup
      with:
        key: ${{ inputs.name }}-${{ inputs.target }}
        version: ${{ inputs.cpm-cache-version }}

    - name: Build
      shell: bash
      run: ./.ci/debian/makedeb.sh
      env:
        TARGET: ${{ inputs.target }}
        COMPILER: ${{ inputs.compiler }}
        DEB_NAME: ${{ inputs.pretty-name }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v6.0.0
      with:
        name: ${{ inputs.name }}-${{ inputs.target }}
        path: ./artifacts/*
