#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	.ci/common/configure.sh -DCCACHE_PATH=${SCCACHE_PATH}

override_dh_auto_build:
	cmake --build build

override_dh_auto_install:
	cmake --install build --prefix=/usr --destdir=$(CURDIR)/debian/eden
	chmod +x debian/eden/usr/bin/*
