name: "Build"

on:
  workflow_call:
    inputs:
      devel:
        description: 'Development mode (disables update checker, adds nightly qualifier)'
        type: boolean
        required: true
      build-id:
        description: 'Identifier for workflows and caching'
        type: string
        required: true

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  CPM_CACHE_VERSION: "v15"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}
  BUILD_ID: ${{ inputs.build-id }}
  TEMP_PATCH_NUMBER: ""
  FORCE_PGO: "false"

jobs:
  clone:
    outputs:
      cachever: ${{ steps.out.outputs.cachever }}
      pgo: ${{ steps.out.outputs.pgo }}
      windows-matrix: ${{ steps.windows-matrix.outputs.matrix }}
      android-matrix: ${{ steps.android-matrix.outputs.targets }}
      debian-matrix: ${{ steps.appimage-matrix.outputs.debian }}
      appimage-matrix: ${{ steps.appimage-matrix.outputs.matrix }}
      appimage-compiler:  ${{ steps.appimage-matrix.outputs.compiler }}
    name: "Parse and Clone"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Parse Forgejo payload
        run: |
          echo '${{ toJSON(github.event.client_payload) }}' > ./payload.json
          cat payload.json
          ./.ci/forgejo.sh --parse ${{ inputs.build-id }}

      - name: Load payload environment
        run: . ./.ci/fj/load-env.sh

      - name: Send pending status
        if: ${{ (inputs.build-id) == 'master' || (inputs.build-id) == 'pull_request' }}
        run: python3 .ci/common/status.py --pending

      # for some amazing reason you can't pass env vars to reusable workflows
      - name: Setup Outputs
        id: out
        run: |
          echo "cachever=${CPM_CACHE_VERSION}" >> "$GITHUB_OUTPUT"
          echo "pgo=${FORCE_PGO}" >> "$GITHUB_OUTPUT"

      - name: Clone
        run: ./.ci/forgejo.sh --clone ${{ inputs.build-id }}

      - name: Apply Temporary Patch
        if: ${{ env.TEMP_PATCH_NUMBER != '' }}
        run: |
          wget https://git.eden-emu.dev/eden-emu/eden/pulls/${TEMP_PATCH_NUMBER}.patch
          git -C eden apply --3way ../${TEMP_PATCH_NUMBER}.patch
          rm ${TEMP_PATCH_NUMBER}.patch

      - name: Summary
        run: |
          ./.ci/fj/summary.sh ${{ inputs.build-id }}

      - name: Cleanup
        run: |
          rm -rf eden/.git* eden/.ci eden/.github

      - name: Upload payload environment
        uses: actions/upload-artifact@v6.0.0
        with:
          name: forgejo-env
          path: forgejo.env

      - name: Upload cloned repo
        uses: actions/upload-artifact@v6.0.0
        with:
          name: eden
          include-hidden-files: true
          path: |
            eden/*
            eden/.patch

      - name: Android Matrix
        id: android-matrix
        run: |
          OPT='{"runs-on": "ubuntu-24.04", "flavor": "optimized"}'
          LEG='{"runs-on": "ubuntu-24.04", "flavor": "legacy"}'
          STD='{"runs-on": "ubuntu-24.04", "flavor": "standard"}'
          CHR='{"runs-on": "ubuntu-24.04", "flavor": "chromeos"}'

          if [ "${{ inputs.devel }}" = "false" ]; then
            TARGETS="[$OPT, $LEG, $STD, $CHR]"
          else
            TARGETS="[$STD, $CHR]"
          fi

          echo $TARGETS
          echo "targets=${TARGETS}" >> $GITHUB_OUTPUT

      - name: Windows Matrix
        id: windows-matrix
        run: |
          WINAMD64='  "msystem": "Windows"'
          MINGWAMD64='"msystem": "MINGW64"'
          UCRT64='    "msystem": "UCRT64"'
          CLANGAMD64='"msystem": "CLANG64"'
          ARM64='     "msystem": "CLANGARM64"'

          CLANG='"program": "clang", "target": "standard"'
          PGO='  "program": "clang", "target": "pgo"'
          GCC='  "program": "gcc",   "target": "standard"'
          UCRT=' "program": "gcc",   "target": "ucrt"'
          MSVC=' "program": "msvc",  "target": "standard"'

          target() {
            arch="$1"
            system="$2"
            msystem="$3"
            compiler="$4"

            if [ "${arch}" == "arm64" ]; then
              target_arch='"runs-on": "windows-11-arm", "arch": "arm64"'
            elif [ "${arch}" == "amd64" ]; then
              target_arch='"runs-on": "windows-2025", "arch": "amd64"'
            fi

            if [ "${system}" == "mingw" ]; then
              target_system='"name": "mingw",   "shell": "msys2"'
            elif [ "${system}" == "windows" ]; then
              target_system='"name": "windows", "shell": "bash"'
            fi

            echo "{${target_arch}, ${target_system}, ${msystem}, ${compiler}}"
          }

          # AMD64
          amd64_clang="$(target "amd64" "mingw"   "$CLANGAMD64" "$CLANG")"
          amd64_pgo="$(target   "amd64" "mingw"   "$CLANGAMD64" "$PGO")"
          amd64_gcc="$(target   "amd64" "mingw"   "$MINGWAMD64" "$GCC")"
          ucrt_gcc="$(target    "amd64" "mingw"   "$UCRT64"     "$UCRT")"
          win_msvc="$(target    "amd64" "windows" "$WINAMD64"   "$MSVC")"

          # Msys / ARM64
          arm64_clang="$(target "arm64" "mingw" "$ARM64" "$CLANG")"
          arm64_pgo="$(target   "arm64" "mingw" "$ARM64" "$PGO")"

          INCLUDE="${amd64_gcc}, ${win_msvc}"

          if [ "${{ env.DISABLE_ARM }}" != "true" ]; then
            INCLUDE="${INCLUDE}, ${arm64_clang}"
          fi

          if [ "${{ inputs.devel }}" != "true" ] || [ "${{ inputs.force_pgo }}" = "true" ]; then
            INCLUDE="${INCLUDE}, ${amd64_pgo}"

            if [ "${{ env.DISABLE_ARM }}" != "true" ]; then
              INCLUDE="${INCLUDE}, ${arm64_pgo}"
            fi
          fi

          MATRIX="[${INCLUDE}]"
          echo $MATRIX
          echo "matrix=${MATRIX}" >> $GITHUB_OUTPUT

      - name: Linux Matrix
        id: appimage-matrix
        run: |
          AMD64='{    "runs-on": "ubuntu-24.04",     "arch": "amd64"}'
          ARM='{      "runs-on": "ubuntu-24.04-arm", "arch": "aarch64"}'
          STEAMDECK='{"runs-on": "ubuntu-24.04",     "arch": "steamdeck"}'
          LEGACY='{   "runs-on": "ubuntu-24.04",     "arch": "legacy"}'
          ROG_ALLY='{ "runs-on": "ubuntu-24.04",     "arch": "rog-ally"}'

          if [ "${{ env.DISABLE_ARM }}" != true ]; then
            AMD64="${AMD64}, ${ARM}"
          fi

          DEBIAN="[${AMD64}]"

          echo $DEBIAN
          echo "debian=${DEBIAN}" >> $GITHUB_OUTPUT

          if [ "${{ inputs.devel }}" == "false" ]; then
            MATRIX="[${AMD64}, ${STEAMDECK}, ${LEGACY}, ${ROG_ALLY}]"
          else
            MATRIX="[${AMD64}]"
          fi

          echo $MATRIX
          echo "matrix=${MATRIX}" >> $GITHUB_OUTPUT

          PGO='{  "program": "clang", "target": "pgo"}'
          CLANG='{"program": "clang", "target": "standard"}'
          GCC='{  "program": "gcc",   "target": "standard"}'

          if [ "${{ inputs.devel }}" != "true" ] || [ "${{ inputs.force_pgo }}" = "true" ]; then
            COMPILER="[${GCC},${PGO}]"
          else
            COMPILER="[${GCC}]"
          fi

          echo $COMPILER
          echo "compiler=${COMPILER}" >> $GITHUB_OUTPUT

  source:
    name: "Source Pack"
    runs-on: ubuntu-latest
    needs: [clone]

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Clone
        uses: actions/download-artifact@v7.0.0

      - name: Load payload environment
        run: FORGEJO_LENV=forgejo-env/forgejo.env . .ci/fj/load-env.sh

      - name: Build
        run: ./.ci/source/build.sh

      - name: Package
        run: ./.ci/source/package.sh

      - name: Upload source
        uses: actions/upload-artifact@v6.0.0
        with:
          name: source
          path: ./*.tar.zst

  deb:
    name: ".deb builds"
    needs: [clone]
    uses: ./.github/workflows/deb.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      matrix_platform: ${{ needs.clone.outputs.debian-matrix }}
    secrets: inherit

  linux:
    name: "AppImage"
    needs: [clone]
    uses: ./.github/workflows/appimage.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      force_pgo: ${{ needs.clone.outputs.pgo }}
      matrix: ${{ needs.clone.outputs.appimage-matrix }}
      compiler: ${{ needs.clone.outputs.appimage-compiler }}
    secrets: inherit

  windows:
    name: "Windows"
    needs: [clone]
    uses: ./.github/workflows/windows.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      force_pgo: ${{ needs.clone.outputs.pgo }}
      matrix_platform: ${{ needs.clone.outputs.windows-matrix }}
    secrets: inherit

  android:
    name: "Android"
    needs: [clone]
    uses: ./.github/workflows/android.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      matrix_platform: ${{ needs.clone.outputs.android-matrix }}
    secrets: inherit

  macos:
    name: "macOS"
    needs: [clone]
    uses: ./.github/workflows/macos.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
    secrets: inherit

  unix:
    name: "UNIX"
    needs: [clone]
    uses: ./.github/workflows/unix.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
    secrets: inherit

  room:
    name: "musl room"
    needs: [clone]
    uses: ./.github/workflows/room.yml
