name: "Build"

on:
  workflow_call:
    inputs:
      build-id:
        description: 'Identifier for workflows and caching'
        type: string
        required: true
      devel:
        description: 'Development mode (disables update checker)'
        type: string
        required: true

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  CPM_CACHE_VERSION: "v15"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}
  BUILD_ID: ${{ inputs.build-id }}
  TEMP_PATCH_NUMBER: ""
  FORCE_PGO: "false"

jobs:
  clone:
    outputs:
      cachever: ${{ steps.out.outputs.cachever }}
      pgo: ${{ steps.out.outputs.pgo }}
      # TODO: Use the JSON and send only one variable and make each step get theirs .id's
      android-matrix: ${{ steps.matrix.outputs.android }}
      linux-matrix: ${{ steps.matrix.outputs.linux }}
      windows-matrix: ${{ steps.matrix.outputs.windows }}
      room-matrix: ${{ steps.matrix.outputs.room }}
      macos-matrix: ${{ steps.matrix.outputs.macos }}
      freebsd-matrix: ${{ steps.matrix.outputs.freebsd }}

    name: "Parse and Clone"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Parse Forgejo payload
        run: |
          echo '${{ toJSON(github.event.client_payload) }}' > ./payload.json
          jq . payload.json
          ./.ci/forgejo.sh --parse ${{ inputs.build-id }}

      - name: Load payload environment
        run: . ./.ci/fj/load-env.sh

      - name: Send pending status
        if: ${{ (inputs.build-id) == 'master' || (inputs.build-id) == 'pull_request' }}
        run: python3 .ci/common/status.py --pending

      # for some amazing reason you can't pass env vars to reusable workflows
      - name: Setup Outputs
        id: out
        run: |
          echo "cachever=${CPM_CACHE_VERSION}" >> "$GITHUB_OUTPUT"
          echo "pgo=${FORCE_PGO}" >> "$GITHUB_OUTPUT"

      - name: Clone
        run: ./.ci/forgejo.sh --clone ${{ inputs.build-id }}

      - name: Apply Temporary Patch
        if: ${{ env.TEMP_PATCH_NUMBER != '' }}
        run: |
          wget https://git.eden-emu.dev/eden-emu/eden/pulls/${TEMP_PATCH_NUMBER}.patch
          git -C eden apply --3way --ignore-whitespace ../${TEMP_PATCH_NUMBER}.patch
          rm ${TEMP_PATCH_NUMBER}.patch

      - name: Summary
        run: |
          ./.ci/fj/summary.sh ${{ inputs.build-id }}

      - name: Cleanup
        run: |
          rm -rf eden/.git* eden/.ci eden/.github

      - name: Upload payload environment
        uses: actions/upload-artifact@v6.0.0
        with:
          name: forgejo-env
          path: forgejo.env

      - name: Upload cloned repo
        uses: actions/upload-artifact@v6.0.0
        with:
          name: eden
          include-hidden-files: true
          path: |
            eden/*
            eden/.patch

      - name: Build 'Workflow'
        id: matrix
        run: . ./.ci/common/workflow.sh

      - name: Upload Workflow json
        uses: actions/upload-artifact@v6.0.0
        with:
          name: workflow-json
          path: workflow.json

  source:
    name: "Source Pack"
    runs-on: ubuntu-latest
    needs: [clone]

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Clone
        uses: actions/download-artifact@v7.0.0

      - name: Load payload environment
        run: FORGEJO_LENV=forgejo-env/forgejo.env . .ci/fj/load-env.sh

      - name: Build
        run: ./.ci/source/build.sh

      - name: Package
        run: ./.ci/source/package.sh

      - name: Upload source
        uses: actions/upload-artifact@v6.0.0
        with:
          name: source
          path: ./*.tar.zst

  linux:
    name: "Linux"
    needs: [clone]
    uses: ./.github/workflows/linux.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      force_pgo: ${{ needs.clone.outputs.pgo }}
      matrix: ${{ needs.clone.outputs.linux-matrix }}
    secrets: inherit

  windows:
    name: "Windows"
    needs: [clone]
    uses: ./.github/workflows/windows.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      force_pgo: ${{ needs.clone.outputs.pgo }}
      matrix: ${{ needs.clone.outputs.windows-matrix }}
    secrets: inherit

  android:
    name: "Android"
    needs: [clone]
    uses: ./.github/workflows/android.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      matrix: ${{ needs.clone.outputs.android-matrix }}
    secrets: inherit

  macos:
    name: "macOS"
    needs: [clone]
    uses: ./.github/workflows/macos.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      matrix: ${{ needs.clone.outputs.macos-matrix }}
    secrets: inherit

  freebsd:
    name: "FreeBSD"
    needs: [clone]
    uses: ./.github/workflows/freebsd.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      matrix: ${{ needs.clone.outputs.freebsd-matrix }}
    secrets: inherit

  room:
    name: "musl room"
    needs: [clone]
    uses: ./.github/workflows/room.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      matrix: ${{ needs.clone.outputs.room-matrix }}
