name: "Build"

on:
  workflow_call:
    inputs:
      devel:
        description: 'Development mode (disables update checker, adds nightly qualifier)'
        type: boolean
        required: true
      build-id:
        description: 'Identifier for workflows and caching'
        type: string
        required: true

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  CPM_CACHE_VERSION: "v15"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}
  BUILD_ID: ${{ inputs.build-id }}
  TEMP_PATCH_NUMBER: ""
  FORCE_PGO: "false"

jobs:
  clone:
    outputs:
      cachever: ${{ steps.out.outputs.cachever }}
      pgo: ${{ steps.out.outputs.pgo }}
      windows-matrix: ${{ steps.windows-matrix.outputs.matrix }}
      android-matrix: ${{ steps.android-matrix.outputs.targets }}
      appimage-matrix: ${{ steps.appimage-matrix.outputs.matrix }}
    name: "Parse and Clone"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Parse Forgejo payload
        run: |
          echo '${{ toJSON(github.event.client_payload) }}' > ./payload.json
          cat payload.json
          ./.ci/forgejo.sh --parse ${{ inputs.build-id }}

      - name: Load payload environment
        run: . ./.ci/fj/load-env.sh

      - name: Send pending status
        if: ${{ (inputs.build-id) == 'master' || (inputs.build-id) == 'pull_request' }}
        run: python3 .ci/common/status.py --pending

      # for some amazing reason you can't pass env vars to reusable workflows
      - name: Setup Outputs
        id: out
        run: |
          echo "cachever=${CPM_CACHE_VERSION}" >> "$GITHUB_OUTPUT"
          echo "pgo=${FORCE_PGO}" >> "$GITHUB_OUTPUT"

      - name: Clone
        run: ./.ci/forgejo.sh --clone ${{ inputs.build-id }}

      - name: Apply Temporary Patch
        if: ${{ env.TEMP_PATCH_NUMBER != '' }}
        run: |
          wget https://git.eden-emu.dev/eden-emu/eden/pulls/${TEMP_PATCH_NUMBER}.patch
          git -C eden apply --3way ../${TEMP_PATCH_NUMBER}.patch
          rm ${TEMP_PATCH_NUMBER}.patch

      - name: Summary
        run: |
          ./.ci/fj/summary.sh ${{ inputs.build-id }}

      - name: Cleanup
        run: |
          rm -rf eden/.git* eden/.ci eden/.github

      - name: Upload payload environment
        uses: actions/upload-artifact@v6.0.0
        with:
          name: forgejo-env
          path: forgejo.env

      - name: Upload cloned repo
        uses: actions/upload-artifact@v6.0.0
        with:
          name: eden
          include-hidden-files: true
          path: |
            eden/*
            eden/.patch

      - name: Android Matrix
        id: android-matrix
        run: |
          OPT='{"runs-on": "ubuntu-24.04", "flavor": "optimized"}'
          LEG='{"runs-on": "ubuntu-24.04", "flavor": "legacy"}'
          STD='{"runs-on": "ubuntu-24.04", "flavor": "standard"}'
          CHR='{"runs-on": "ubuntu-24.04", "flavor": "chromeos"}'

          if [ "${{ inputs.devel }}" = "false" ]; then
            TARGETS="[$OPT, $LEG, $STD, $CHR]"
          else
            TARGETS="[$STD, $CHR]"
          fi

          echo $TARGETS
          echo "targets=${TARGETS}" >> $GITHUB_OUTPUT

      - name: Windows Matrix
        id: windows-matrix
        run: |
          WIN_AMD64='  "pretty-name": "Windows"'
          MINGW_AMD64='"pretty-name": "MINGW64"'
          UCRT64='     "pretty-name": "UCRT64"'
          CLANG_AMD64='"pretty-name": "CLANG64"'
          ARM64='      "pretty-name": "CLANGARM64"'

          CLANG='"program": "clang", "target": "standard"'
          PGO='  "program": "clang", "target": "pgo"'
          GCC='  "program": "gcc",   "target": "standard"'
          UCRT=' "program": "gcc",   "target": "ucrt"'
          MSVC=' "program": "msvc",  "target": "standard"'

          target() {
            arch="$1"
            system="$2"
            prettyname="$3"
            compiler="$4"

            target_arch="\"arch\": \"${arch}\""
            if [ "${arch}" == "aarch64" ]; then
              runs_on='"runs-on": "windows-11-arm"'
            elif [ "${arch}" == "amd64" ]; then
              runs_on='"runs-on": "windows-2025"'
            else
              # Unsupported Arch
              exit 1
            fi

            target_system="\"system\": \"${system}\""
            if [ "${system}" == "mingw" ]; then
              shell='"shell": "msys2"'
            elif [ "${system}" == "windows" ]; then
              shell='"shell": "bash"'
            else
              # Should never happen, but just in case of some Birdbrain
              exit 1
            fi

            echo "{${runs_on}, ${target_arch}, ${target_system}, ${shell}, ${prettyname}, ${compiler}}"
          }

          # Clang / AMD64
          amd64_clang="$(target "amd64" "mingw"   "$CLANG_AMD64" "$CLANG")"
          amd64_pgo="$(target   "amd64" "mingw"   "$CLANG_AMD64" "$PGO")"

          # Windows / AMD64
          amd64_gcc="$(target   "amd64" "mingw"   "$MINGW_AMD64" "$GCC")"
          ucrt_gcc="$(target    "amd64" "mingw"   "$UCRT64"      "$UCRT")"
          win_msvc="$(target    "amd64" "windows" "$WIN_AMD64"   "$MSVC")"

          # Msys / ARM64
          aarch64_clang="$(target "aarch64" "mingw" "$ARM64" "$CLANG")"
          aarch64_pgo="$(target   "aarch64" "mingw" "$ARM64" "$PGO")"

          INCLUDE="${amd64_gcc}, ${win_msvc}"
          if [ "${{ env.DISABLE_ARM }}" != "true" ]; then
            INCLUDE="${INCLUDE}, ${aarch64_clang}"
          fi
          if [ "${{ inputs.devel }}" != "true" ] || [ "${{ inputs.force_pgo }}" = "true" ]; then
            INCLUDE="${INCLUDE}, ${amd64_pgo}"
            if [ "${{ env.DISABLE_ARM }}" != "true" ]; then
              INCLUDE="${INCLUDE}, ${aarch64_pgo}"
            fi
          fi

          MATRIX="[${INCLUDE}]"
          echo $MATRIX
          echo "matrix=${MATRIX}" >> $GITHUB_OUTPUT

      - name: Linux Matrix
        id: appimage-matrix
        run: |
          RUNS_AMD64='"runs-on": "ubuntu-24.04"'
          RUNS_AARCH64='"runs-on": "ubuntu-24.04-arm"'

          APPIMAGE=' "pretty-name": "AppImage",     "system": "linux",        "container": "ghcr.io/pkgforge-dev/archlinux:latest", "dependency_type": "linux"'
          DEBIAN_12='"pretty-name": "Debian-12",    "system": "debian-12",    "container": "debian:bookworm"'
          DEBIAN_13='"pretty-name": "Debian-13",    "system": "debian-13",    "container": "debian:trixie"'
          UBUNTU='   "pretty-name": "Ubuntu-24.04", "system": "ubuntu-24.04", "container": "ubuntu:noble", "dependency_type": "deb"'

          AMD64='    "arch": "amd64"'
          AARCH64='  "arch": "aarch64"'
          LEGACY='   "arch": "legacy"'
          ROG_ALLY=' "arch": "rog-ally"'
          STEAMDECK='"arch": "steamdeck"'

          CLANG='"program": "clang", "target": "standard"'
          PGO='  "program": "clang", "target": "pgo"'
          GCC='  "program": "gcc",   "target": "standard"'

          target() {
            runs_on="$1"
            arch="$2"
            system="$3"
            compiler="$4"

            echo "{${runs_on}, ${arch}, ${system}, ${compiler}}"
          }

          # AppImage / AMD64
          amd64_appimage="$(target  "$RUNS_AMD64" "$AMD64"     "$APPIMAGE" "$GCC")"
          amd64_steamdeck="$(target "$RUNS_AMD64" "$STEAMDECK" "$APPIMAGE" "$GCC")"
          amd64_legacy="$(target    "$RUNS_AMD64" "$LEGACY"    "$APPIMAGE" "$GCC")"
          amd64_rogally="$(target   "$RUNS_AMD64" "$ROG_ALLY"  "$APPIMAGE" "$GCC")"

          # Debian-like / AMD64
          amd64_ubuntu="$(target   "$RUNS_AMD64" "$AMD64" "$UBUNTU"    "$GCC")"
          amd64_debian12="$(target "$RUNS_AMD64" "$AMD64" "$DEBIAN_12" "$GCC")"
          adm64_debian13="$(target "$RUNS_AMD64" "$AMD64" "$DEBIAN_13" "$GCC")"

          # Clang / AMD64
          amd64_pgo="$(target           "$RUNS_AMD64" "$AMD64"     "$APPIMAGE" "$PGO")"
          amd64_pgo_steamdeck="$(target "$RUNS_AMD64" "$STEAMDECK" "$APPIMAGE" "$PGO")"
          amd64_pgo_legacy="$(target    "$RUNS_AMD64" "$LEGACY"    "$APPIMAGE" "$PGO")"
          amd64_pgo_rogally="$(target   "$RUNS_AMD64" "$ROG_ALLY"  "$APPIMAGE" "$PGO")"

          # AppImage / AARCH64
          aarch64_appimage="$(target "$RUNS_AARCH64" "$AARCH64" "$APPIMAGE" "$GCC")"
          aarch64_pgo="$(target "$RUNS_AARCH64" "$AARCH64" "$APPIMAGE" "$PGO")"

          # Debian-like / AARCH64
          aarch64_ubuntu="$(target   "$RUNS_AARCH64" "$AARCH64" "$UBUNTU"    "$GCC")"
          aarch64_debian12="$(target "$RUNS_AARCH64" "$AARCH64" "$DEBIAN_12" "$GCC")"
          aarch64_debian13="$(target "$RUNS_AARCH64" "$AARCH64" "$DEBIAN_13" "$GCC")"

          INCLUDE="${amd64_appimage}, ${amd64_ubuntu}, ${amd64_debian12}, ${adm64_debian13}"
          if [ "${{ env.DISABLE_ARM }}" != "true" ]; then
            INCLUDE="${INCLUDE}, ${aarch64_appimage}, ${aarch64_ubuntu}, ${aarch64_debian12}, ${aarch64_debian13}"
          fi
          if [ "${{ inputs.devel }}" != "true" ]; then
            INCLUDE="${INCLUDE}, ${amd64_steamdeck}, ${amd64_legacy}, ${amd64_rogally}"
          fi
          if [ "${{ inputs.devel }}" != "true" ] || [ "${{ inputs.force_pgo }}" = "true" ]; then
            INCLUDE="${INCLUDE}, ${amd64_pgo}, ${amd64_pgo_steamdeck}, ${amd64_pgo_legacy}, ${amd64_pgo_rogally}"
            if [ "${{ env.DISABLE_ARM }}" != "true" ]; then
              INCLUDE="${INCLUDE}, ${aarch64_pgo}"
            fi
          fi

          MATRIX="[${INCLUDE}]"
          echo $MATRIX
          echo "matrix=${MATRIX}" >> $GITHUB_OUTPUT

  source:
    name: "Source Pack"
    runs-on: ubuntu-latest
    needs: [clone]

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Clone
        uses: actions/download-artifact@v7.0.0

      - name: Load payload environment
        run: FORGEJO_LENV=forgejo-env/forgejo.env . .ci/fj/load-env.sh

      - name: Build
        run: ./.ci/source/build.sh

      - name: Package
        run: ./.ci/source/package.sh

      - name: Upload source
        uses: actions/upload-artifact@v6.0.0
        with:
          name: source
          path: ./*.tar.zst

  linux:
    name: "AppImage"
    needs: [clone]
    uses: ./.github/workflows/appimage.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      force_pgo: ${{ needs.clone.outputs.pgo }}
      matrix: ${{ needs.clone.outputs.appimage-matrix }}
    secrets: inherit

  windows:
    name: "Windows"
    needs: [clone]
    uses: ./.github/workflows/windows.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      force_pgo: ${{ needs.clone.outputs.pgo }}
      matrix_platform: ${{ needs.clone.outputs.windows-matrix }}
    secrets: inherit

  android:
    name: "Android"
    needs: [clone]
    uses: ./.github/workflows/android.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      matrix_platform: ${{ needs.clone.outputs.android-matrix }}
    secrets: inherit

  macos:
    name: "macOS"
    needs: [clone]
    uses: ./.github/workflows/macos.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
    secrets: inherit

  unix:
    name: "UNIX"
    needs: [clone]
    uses: ./.github/workflows/unix.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
    secrets: inherit

  room:
    name: "musl room"
    needs: [clone]
    uses: ./.github/workflows/room.yml
