name: "Debian"

on:
  workflow_call:
    inputs:
      build-id:
        description: 'Identifier for workflows and caching'
        type: string
        required: true
      cpm-cache-version:
        description: 'CPM Cache Version'
        type: string
        required: true
      devel:
        description: 'Development mode (disables update checker)'
        type: string
        required: true

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}
  BUILD_ID: ${{ inputs.build-id }}

jobs:
  set-matrix:
    name: "Generate Debian Matrix"
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set.outputs.matrix }}
    steps:
      - id: set
        run: |
          ubuntu='"system": "Ubuntu-24.04", "system-pretty": "Ubuntu 24.04", "container": "ubuntu:noble",    "compiler": "gcc"'
          debian_12='"system": "Debian-12", "system-pretty": "Debian 12",    "container": "debian:bookworm", "compiler": "gcc"'
          debian_13='"system": "Debian-13", "system-pretty": "Debian 13",    "container": "debian:trixie",   "compiler": "gcc"'

          linux_amd='"runs-on": "ubuntu-24.04",     "target": "amd64"'
          linux_arm='"runs-on": "ubuntu-24.04-arm", "target": "aarch64"'

          json_build() {
            echo "{ $1, $2}"
          }

          # Debian-like / AMD64
          amd64_ubuntu=$(json_build   "$linux_amd" "$ubuntu")
          amd64_debian12=$(json_build "$linux_amd" "$debian_12")
          amd64_debian13=$(json_build "$linux_amd" "$debian_13")

          # Debian-like / AARCH64
          aarch64_ubuntu=$(json_build   "$linux-aarch64" "$ubuntu")
          aarch64_debian12=$(json_build "$linux-aarch64" "$debian_12")
          aarch64_debian13=$(json_build "$linux-aarch64" "$debian_13")

          INCLUDE="$amd64_ubuntu, $amd64_debian12, $amd64_debian13"
          if [ "${{ inputs.devel }}" = "false" ]; then
            INCLUDE="$INCLUDE, $aarch64_ubuntu, $aarch64_debian12, $aarch64_debian13"
          fi
          MATRIX="[${INCLUDE}]"

          echo $MATRIX
          echo "matrix=${MATRIX}" >> $GITHUB_OUTPUT

  debian:
    name: "${{ matrix.compile.system-pretty }} (${{ matrix.compile.target }}-${{ matrix.compiler.compiler }})"
    needs: [set-matrix]
    container:
      image: ${{ matrix.compile.container }}
    runs-on: ${{ matrix.compile.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        compiler: ${{ fromJson(needs.set-matrix.outputs.matrix) }}
    env:
      TARGET: ${{ matrix.compiler.target }}
      COMPILER: ${{ matrix.compiler.compiler }}
      FULL_TARGET: ${{ matrix.compiler.target }}-${{ matrix.compiler.compiler }}
      DEB_NAME: ${{ matrix.compile.system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install sccache
        uses: Eden-CI/sccache-action@v0.0.1
        with:
          disable_annotations: true

      - name: Setup
        uses: ./.github/workflows/setup
        with:
          key: ${{ matrix.compile.system }}-${{ env.FULL_TARGET }}
          version: ${{ inputs.cpm-cache-version }}

      - name: Build
        shell: bash
        run: ./.ci/debian/makedeb.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ matrix.compile.system }}-${{ env.FULL_TARGET }}
          path: ./artifacts/*
