name: "FreeBSD"

on:
  workflow_call:
    inputs:
      build-id:
        description: 'Identifier for workflows and caching'
        type: string
        required: true
      cpm-cache-version:
        description: 'CPM Cache Version'
        type: string
        required: true
      devel:
        description: 'Development mode (disables update checker)'
        type: string
        required: true
      matrix:
        description: 'Generated Matrix to each platform'
        type: string
        required: true

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}
  BUILD_ID: ${{ inputs.build-id }}

jobs:
  unix:
    name: "${{ matrix.compiler.system-pretty }} (${{ matrix.compiler.package-target }})"
    runs-on: "${{ matrix.compiler.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        compiler: ${{ fromJson(inputs.matrix) }}
    env:
      SCCACHE_DIR: ${{ github.workspace }}/.sccache
      TARGET: "${{ matrix.compiler.target }}"
      COMPILER: "${{ matrix.compiler.compiler }}"
      PACKAGE_TARGET: "${{ matrix.compiler.package-target }}"
      SYSTEM_PRETTY: "${{ matrix.compiler.system-pretty }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup
        uses: ./.github/workflows/setup
        with:
          key: ${{ matrix.compiler.system }}-${{ matrix.compiler.package-target }}
          version: ${{ inputs.cpm-cache-version }}

      - name: Configure sccache
        uses: actions/github-script@v8.0.0
        with:
          script: |
            core.exportVariable('ACTIONS_RESULTS_URL', process.env.ACTIONS_RESULTS_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
            core.exportVariable('ACTIONS_CACHE_SERVICE_V2', `on`);

      - name: Start VM
        uses: vmactions/freebsd-vm@v1.4.1
        with:
          usesh: true
          envs: 'PACKAGE_TARGET SYSTEM_PRETTY COMPILER DEVEL TARGET CCACHE BUILD_ID SCCACHE_DIR SCCACHE_GHA_ENABLED ACTIONS_RESULTS_URL ACTIONS_RUNTIME_TOKEN ACTIONS_CACHE_SERVICE_V2'
          prepare: |
            pkg install -y \
              devel/sccache \
              ftp/wget \
              shells/bash

      - name: Install dependencies
        shell: freebsd {0}
        run: |
          cd "${{ github.workspace }}"
          ./.ci/freebsd/deps.sh

      - name: Configure
        shell: freebsd {0}
        run: |
          cd "${{ github.workspace }}"
          bash -ex ./.ci/common/configure.sh -DCCACHE_PATH=$(which sccache)

      - name: Build
        shell: freebsd {0}
        run: |
          cd "${{ github.workspace }}"
          cmake --build build
          cmake --install build --prefix install/usr

      - name: Package
        shell: freebsd {0}
        run: |
          cd "${{ github.workspace }}"
          ./.ci/freebsd/package.sh

      - name: rsync from qemu:artifacts to host:artifacts
        shell: bash
        run: |
          rsync -av -e ssh freebsd:${{ github.workspace }}/artifacts/ ${{ github.workspace }}/artifacts/
          rsync -av -e ssh freebsd:${{ github.workspace }}/.cache/ ${{ github.workspace }}/.cache/

      - name: Upload Binary
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ matrix.compiler.system }}-${{ matrix.compiler.package-target }}
          path: ./artifacts/*
