name: "macOS"

on:
  workflow_call:
    inputs:
      build-id:
        description: 'Identifier for workflows and caching'
        type: string
        required: true
      cpm-cache-version:
        description: 'CPM Cache Version'
        type: string
        required: true
      devel:
        description: 'Development mode (disables update checker)'
        type: string
        required: true
      matrix:
        description: 'Generated Matrix to each platform'
        type: string
        required: true

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}
  BUILD_ID: ${{ inputs.build-id }}

jobs:
  macos:
    name: "${{ matrix.compiler.system-pretty }} (${{ matrix.compiler.package-target }})"
    runs-on: "${{ matrix.compiler.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        compiler: ${{ fromJson(inputs.matrix) }}

    env:
      PACKAGE_TARGET: "${{ matrix.compiler.package-target }}"
      GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup
        uses: ./.github/workflows/setup
        with:
          key: ${{ matrix.compiler.system }}-${{ matrix.compiler.package-target }}
          version: ${{ inputs.cpm-cache-version }}

      - name: Install dependencies
        run: ./.ci/macos/deps.sh

      - name: Configure
        run: .ci/common/configure.sh -DCCACHE_PATH=${SCCACHE_PATH} --debug-find-pkg=OpenSSL --debug-find-pkg=WrapOpenSSLHeaders

      - name: Build
        run: cmake --build build

      - name: Package
        run: ./.ci/macos/package.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ matrix.compiler.system }}-${{ matrix.compiler.package-target }}
          path: artifacts/*
