name: "eden-room"

on:
  workflow_call:
    inputs:
      build-id:
        description: 'Identifier for workflows and caching'
        type: string
        required: true
      cpm-cache-version:
        description: 'CPM Cache Version'
        type: string
        required: true
      devel:
        description: 'Development mode (disables update checker)'
        type: string
        required: true
      matrix:
        description: 'Generated Matrix to each platform'
        type: string
        required: true

jobs:
  alpine:
    name: "${{ matrix.compiler.system-pretty }} (${{ matrix.compiler.package-target }})"
    runs-on: "${{ matrix.compiler.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        compiler: ${{ fromJson(inputs.matrix) }}

    env:
      TARGET: "${{ matrix.compiler.target }}"
      COMPILER: "${{ matrix.compiler.compiler }}"
      COMPILER_OPT: "${{ matrix.compiler.compiler-opt }}"
      PACKAGE_TARGET: "${{ matrix.compiler.package-target }}"
      SYSTEM_PRETTY: "${{ matrix.compiler.system-pretty }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Clone
        uses: actions/download-artifact@v7.0.0
        with:
          name: eden

      - name: Build
        run: |
          docker run --rm -v "$PWD:/work" -w /work \
            -e GITHUB_REF \
            -e GITHUB_REF_NAME \
            -e GITHUB_SHA \
            -e ARCH \
            ${{ matrix.compiler.container }} sh -c '
              apk add --no-cache bash cmake g++ gcc git ninja patch boost1.84-dev boost1.84-static \
                mbedtls-dev mbedtls-static
              cmake -S . -B build -GNinja -DYUZU_STATIC_ROOM=ON
              cmake --build build

              mkdir -p artifacts

              src=build/bin/eden-room
              dst=artifacts/"eden-room-$PACKAGE_TARGET-unknown-linux-musl"
              mv "$src" "$dst"

              strip "$dst"
            '

      - name: Upload artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ matrix.compiler.system }}-${{ matrix.compiler.package-target }}
          path: artifacts/*
